# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Databases
*.db
*.sqlite3
f1_season.db

# Environment variables & Secrets
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
*.swp